/* Background*/
body {
    background-image: url('../imagens/gymb.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    overflow-x: hidden;

}

/*Headline Index*/

.headl{
    background-color: #C70000;
    height: 170px;
}


/*Mais Vendidos */
.vendidos {
    flex-basis: 50%;
    font-family: fantasy;
    font-size: xx-large;
    padding-top: 50px;


}
.produto-titulo{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
  }

.login {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;


}

/* infoprodutos */


.titulo2 {
    font-family: titulo1;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    
}


/* prodcarrinho*/

.prodcarrinho {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 600px;

}

/*media quary*/
@media (max-width: 576px) {
 
.prodcarrinho {
    max-height: 250px;
}

}



@media (min-width: 768px) {
    
    .login1 {

        width: 25%;
    }
  
}

@media (max-width: 768px) {
    .botaonav {
        width: 50px;
    }

}



@media (max-width: 1200px) {
    .sobre {
        display: none;
    }

}


/*Font*/
@font-face {
    font-family: titulo1;
    src: url(fonts/Trade\ Gothic\ LT.ttf);
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(32, 31, 31);
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    background: rgb(228, 54, 54);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(228, 39, 39);
}